* {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
.nav-item,
#transition,
footer {
  text-align: center;
}

strong:hover,
strong:focus {
  color: #fff;
  background-color: #dd3949;
  border-radius: 5%;
  padding: 0;
  cursor: pointer;

}

.menu a:hover,
.menu a:focus {
  color: #fff;
  background-color: #dd3949;
  border-radius: 5%;
}

.background {
  background: url(./img/background.jpg) center no-repeat fixed;
  background-size: cover;
  height: 100vh;
  border-radius: 0px 0px 20px 20px;
  margin-top: 30px;
  padding: 0;


}


h1 {
  font-size: 3em;
  padding: 400px 0 0 0;
  color: white;
  text-shadow: -3px 3px 2px #7e210a;

}

/* ***********************ACTIONS************** */
#actions {
  background-color: #E7DFDA;
  border-radius: 20px;
  padding: 30px;
}

.elements {
  padding: 70px 0;
}

.elements img {
  width: 200px;

}

.elements img:hover {
  opacity: 0.5;
}

.elements p {
  font-size: 1.2em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  padding-right: 20 px;
}

.elements .button {
  text-align: right;
  margin: 15px 4% 0 0;

}

/* ****************PROJETS**************** */
#projets {
  color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.tips {
  height: 200px;
  width: 200px;
  /* auto centre à droite et à gauche/ */
  margin: 20px auto;
}

.tips h4 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: -3px 3px 2px #181413;
}

.tips:hover {
  transform: scale(1.08);
  opacity: 0.7;
  transition: ease-in 0.2;
}

#transition img {
  animation: coeur 12s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;

}


@keyframes coeur {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* ****************EVENTS**************** */
#events {
  background-color: #E7DFDA;
  border-radius: 20px;
  padding: 25px;
}

#carouselExampleFade img {
  height: 50vh;
}

/* ****************CONTACT**************** */

#contact {
  border-radius: 20px;

}

#forms {
  padding-left: 5%;
  padding-bottom: 5%;
  margin-top: 5px;
}

#contact img {
  margin-left: 10%;
  border-radius: 20px !important;
}

#contact img:hover {
  opacity: 0.6;
}

#comments {
  resize: none;
}


/* ****************FOOTER**************** */
footer {

  padding: 15px 0 4px 0;
}

.icons:hover,
.mentions:hover,
.name:hover {
  opacity: 0.6;
  cursor: pointer;

}

/* **********************events.html******************************* */
.background2 {
  background: url(./img/famine.jpg) center left no-repeat fixed;
  background-size: cover;
  height: 60vh;
  border-radius: 0px 0px 20px 20px;
  margin-top: 50px;
  padding: 0;
}

#eventsH1 {
  padding-top: 17%;

}

#partners {
  color: #fff;
  border-radius: 20px;
}

#icon2 {
  padding-top: 50%;
}

#EvenNews {
  background-color: #E7DFDA;
  color: black;
  border-radius: 20px;
  margin: 0 2% 0 2%;
}

.imgCardNew:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {

  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

.bar {
  cursor: pointer;
}

.bar:hover {
  background: #181413 !important;

}

.imgCard {
  transition: transform ease-in-out 200ms;
}

.imgCard:hover {
  transform: scale(0.7) rotate(10deg);
}

/* ***********MEDIA QUERIES****************************************** */

/* instruction pour ecran jusqu'à 7600px */
@media screen and (max-width: 760px) {
  body {
    overflow-x: hidden;
  }

  .background {
    background: url(./img/background.jpg) center no-repeat;
    margin: 0 10px 0 10px;

  }

  #actions {
    margin-top: -2%;
  }

  #transition {
    display: none;

  }

  #don {
    display: none;

  }

  #contact img {
    display: none;

  }

  #projets {
    display: none;

  }

  footer img {
    display: none;

  }

  header img {
    display: none;

  }

  #partners {
    display: none;

  }

  h4 {
    visibility: hidden;
  }

  em {
    visibility: hidden;
  }

  .background2 {
    margin: 0 20px 0 20px;
    background: url(./img/famine.jpg) center left no-repeat;
  }

  #eventsH1 {
    padding-top: 70%;

  }
}